# VS Code
.vscode/

# Logs and temp
php_server.log
php_server_error.log
*.log

# Local storage stubs
.redis_storage/
.mongodb_storage/

# Dependencies and environment
vendor/
node_modules/
.env

# OS generated
Thumbs.db
Desktop.ini
